# {{ ansible_managed }}

Alias /{{ ubuntu_1604_letsencrypt_apache_acme_challenge_path }}/ "{{ ubuntu_1604_letsencrypt_apache_webroot_path }}/{{ ubuntu_1604_letsencrypt_apache_acme_challenge_path }}/"
<Directory "{{ ubuntu_1604_letsencrypt_apache_webroot_path }}/{{ ubuntu_1604_letsencrypt_apache_acme_challenge_path }}/">

{% if ubuntu_1604_letsencrypt_apache_http_challenge_forward_host is defined %}
    RewriteEngine on
    RewriteCond %{HTTP_HOST} .
    RewriteCond %{HTTP_HOST} !^{{ ansible_host }}$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ https://{{ ubuntu_1604_letsencrypt_apache_http_challenge_forward_host }}/{{ ubuntu_1604_letsencrypt_apache_acme_challenge_path }}/$1 [R=302,L]
{% endif %}

    Require all granted
</Directory>
